{% extends "base.html" %}
{% block content %}
    <div class="article-entry">
        <h2>{{ article.title }}</h2>
        <p>by {{ article.author }} | {{ article.date }}</p>
        <p>{{ article.body }}</p>
    </div>
    <div>
        {% if article.author.pk == requset.user.pk %}
            <p>
                <a href="{% url 'article-edit' article.pk %}">Edit</a>
                <a href="{% url 'article-delete' article.pk %}">Delete</a>
            </p>
        {% endif %}
        <p>
            Back to <a href="{% url 'article-list' %}">All Articles</a>.
        </p>
    </div>
{% endblock content %}